.binary_tree-icon{
    background-image: url("../../assets/menu/binary_tree.png")!important;
}

.distributor_report-icon{
    background-image: url("../../assets/menu/distributor_report.png")!important;
}

.document_edit-icon{
    background-image: url("../../assets/menu/document_edit.png")!important;
}

.teachers-icon{
    background-image: url("../../assets/menu/teachers.png")!important;
}

.relationship-icon{
    background-image: url("../../assets/menu/relationship.png")!important;
}

.checklist-icon{
    background-image: url("../../assets/menu/checklist.png")!important;
}
